@import "/../../assets/sass/vars.scss";
.tt-container {
  font-family: $main-font;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-button {
  background-color: $c4;
}

.full-width {
  width: 100%;
}

table {
  margin: 5px;
}

.filter-bar {
  width: 80%;
  margin: 15px auto 10px auto;
  display: block;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    .item {
      margin-right: 2px;
    }
  }
  @media screen and (max-width: 650px) {
    flex-flow: row wrap;
    justify-content: center;
    .createButton {
      margin-bottom: 5px;
    }
    .item {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      .filterBox {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
    }
  }
}

.add-button-container {
  flex-grow: 2;
  button:nth-child(odd) {
    display: block;
  }
  button:nth-child(even) {
    display: none;
  }
  @media screen and (max-width: 650px) {
    flex-grow: 0;
    order: 2;
    button:nth-child(odd) {
      display: none;
    }
    button:nth-child(even) {
      margin-left: 15px;
      display: block;
      color: $txt;
      width: 25px;
      border-radius: 100%;
      padding: 0;
      &:hover {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  table {
    thead tr th,
    tbody tr td {
      &:nth-child(4n),
      &:nth-child(5n) {
        display: none;
      }
    }
  }
}
