<app-navbar></app-navbar>

<div class="tt-container">
  <div class="full-width" *ngIf="selectedTicket">
    <app-ticket-form [ticket]="selectedTicket" [edit]="edit" (clearFilter)="clearFilter($event)" (close)="onClose($event)"></app-ticket-form>
  </div>
  <div class="filter-bar">
    <div class="item">
      <div class="add-button-container">
        <button class="create-button" (click)="createTicket()">Tilføj</button>
        <button class="create-button" type="button" (click)="createTicket()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
      <div class="filterBox">
        <input type="checkbox"><label class="filter-label"><span></span>Vis lukkede sager</label>
      </div>
      <input type="text" [(ngModel)]="filterTable" placeholder="Søg ...">
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Sagsnummer</th>
        <th>Emne</th>
        <th>Tilføjet af</th>
        <th>Start Dato</th>
        <th>Slut Dato</th>
        <th>Service-ID</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let ticket of tickets | tickets: filterTable" (click)="selectTicket(ticket)">
        <td>{{ticket.ticket_id}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.createdBy_id}}</td>
        <td>{{ticket.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{ticket?.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{ticket.service_id}}</td>
        <td>{{ticket.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
