@import "../../../assets/sass/vars.scss";
.wrapper {
  background-color: $nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin-top: -25px;
    margin-bottom: 0px;
    font-family: $header-font;
    color: $c1;
  }
}

#logo {
  width: 70%;
  display: block;
  padding-top: 5px;
}

a {
  color: $c1;
  font-size: 30px;
  font-family: $header-font;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: block;
  text-align: center;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background: $nav-hover;
    color: $nav-txt-hover;
    text-decoration: none;
  }
}

.active-link {
  background-color: lighten($nav-active, 50%);
}

.toggleNav {
  display: none;
}

.flex-nav {
  /* Flex Container */
  ul {
    width: 100vw;
    border-bottom: 1px solid $border-color;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  /* Flex Item */
  li {
    flex: 2;
  }
}


/* tablet */

@media screen and (max-width: 1000px) {
  .nav-mob-hidden {
    opacity: 0;
    transform: translateY(-2px);
    li {
      display: none;
    }
  }
  .toggleNav {
    display: block;
  }
  .flex-nav {
    ul {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      flex-wrap: wrap;
      border-bottom: 1px solid $border-color;
    }
    li {
      flex-basis: 50%;
    }
  }
}


/* mobile */

@media screen and (max-width: 500px) {
  .flex-nav {
    li {
      flex-basis: 100%;
    }
  }
}
