<div class="wrapper">

  <div id="logoDiv">

    <svg id="logo" routerLink="/" version="1.0" viewBox="0 0 314.000000 200.000000"
      preserveAspectRatio="xMidYMid meet">
      <defs>
        <linearGradient id="Gradient1"
             x1="0" y1="0" x2="100%" y2="0">
            <stop offset="0%" stop-color="#002777" />
            <stop offset="100%" stop-color="#008ffe" />
        </linearGradient>
    </defs>
      <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="url(#Gradient1)" stroke="none">
        <path d="M1360 1849 c-197 -25 -388 -136 -505 -292 -52 -69 -106 -169 -125
-234 l-13 -43 -52 0 c-108 0 -211 -45 -303 -133 -73 -71 -114 -138 -136 -223
-61 -237 81 -543 303 -652 l76 -37 920 0 920 0 65 24 c36 14 88 39 116 58 68
44 194 181 194 211 0 6 4 12 9 12 5 0 14 15 21 33 7 17 16 41 20 52 47 111 65
240 48 335 -14 77 -20 97 -48 155 -70 147 -200 255 -354 295 -116 29 -237 24
-337 -15 -11 -4 -21 6 -35 37 -10 24 -45 78 -76 120 -158 213 -442 332 -708
297z" />
      </g>
    </svg>
    <h3>DeviceCloud</h3>
  </div>

  <nav class="flex-nav">

    <a class="toggleNav" (click)="toggleMenu()"> <i class="fa fa-bars" aria-hidden="true"></i> Menu</a>
    <ul [ngClass]="{'nav-mob-hidden': hidden}">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Forside</a></li>
      <li><a routerLink="/enheder" routerLinkActive="active-link">Enheder</a></li>
      <li><a routerLink="/sager" routerLinkActive="active-link">Sager</a></li>
      <li><a routerLink="/opgaver" routerLinkActive="active-link">Huskeliste</a></li>

    </ul>
  </nav>
</div>
