<div class="detail-container">
  <div class="detail-bar">
    <label>#</label>
    <p>{{ticket.ticket_id}}</p>
    <label>Emne:</label>
    <p>{{ticket.title}}</p>
    <label>Ansvarlig:</label>
    <p>{{ticket.createdBy_id}}</p>
    <span class="auto-spacer"></span>
    <i class="close-icon fa fa-times" aria-hidden="true" (click)="closeOverlay()"></i>
  </div>


  <div *ngIf="!edit" class="detail-group">
    <div class="detail-item">
      <label>Startdato:</label>
      <p>{{ticket.startDate | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="detail-item">
      <label>Status:</label>
      <p>{{ticket.status}}</p>
    </div>
    <div class="detail-item">
      <label>Devices:</label>
      <p>{{ticket.devices}}</p>
    </div>
    <div class="detail-item">
      <label>Slutdato:</label>
      <p>{{ticket.endDate | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="detail-item">
      <label>Service-ID:</label>
      <p>{{ticket.service_id}}</p>
    </div>
    <div class="detail-item">
      <label>Beskrivelse:</label>
      <p>{{ticket.description}}</p>
    </div>
    <div class="btn-group">
      <button (click)="toggleEdit()">Rediger</button>
    </div>
  </div>

  <form *ngIf="edit" class="detail-group" [formGroup]="ticketForm" (ngSubmit)="submitTicketForm()">

    <div class="detail-item">
      <label>Titel:</label>
      <input type="text" class="important form-control" formControlName="title" [(ngModel)]="ticket.title">
      <span class="error-message" *ngIf="ticketForm.controls.title.touched && ticketForm.controls.title.hasError('required')">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Status:</label>
      <select formControlName="status" [(ngModel)]="ticket.status">
        <option value="Open" selected >Open</option>
        <option value="Pending">Pending</option>
        <option value="Resolved">Resolved</option>
      </select>
    </div>

    <div class="detail-item">
      <label>Devices:</label>
      <input type="text" class="form-control" formControlName="devices" [(ngModel)]="ticket.devices">
      <span class="error-message" *ngIf="ticketForm.controls.devices.touched && ticketForm.controls.devices.hasError('required')">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Ansvarlig:</label>
      <input type="text" class="form-control" formControlName="createdBy_id" [(ngModel)]="ticket.createdBy_id">
      <span class="error-message" *ngIf="ticketForm.controls.createdBy_id.hasError('onlyLettersAllowedError')">Kun bogstaver er tilladt</span>
      <span class="error-message" *ngIf="ticketForm.controls.createdBy_id.touched && ticketForm.controls.createdBy_id.hasError('required')">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Service-ID:</label>
      <input type="text" class="form-control" formControlName="service_id" [(ngModel)]="ticket.service_id">
      <span class="error-message" *ngIf="ticketForm.controls.service_id.hasError('onlyNumbersAllowedError')">Kun tal er tilladt</span>
      <span class="error-message" *ngIf="ticketForm.controls.service_id.touched && ticketForm.controls.service_id.hasError('required')">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Beskrivelse:</label>
      <input type="textarea" class="form-control" formControlName="description" [(ngModel)]="ticket.description">
      <span class="error-message" *ngIf="ticketForm.controls.description.touched && ticketForm.controls.description.hasError('required')">Feltet er påkrævet</span>
    </div>

    <div class="btn-group">
      <button class="CTA" type="submit">Gem</button>
    </div>


  </form>
</div>
