<div class="detail-container">
  <div class="detail-bar">
    <label># Status:</label>
    <p>{{device.status}}</p>
    <span class="auto-spacer"></span>
    <i class="close-icon fa fa-times" aria-hidden="true" (click)="onClose()"></i>
  </div>

  <div *ngIf="!edit" class="detail-group">
    <div class="detail-item">
      <label>ID</label>
      <p>{{device.id}}</p>
    </div>
    <div class="detail-item">
      <label>Type</label>
      <p>{{device.type}}</p>
    </div>
    <div class="detail-item">
      <label>Låner</label>
      <p>{{device.user}}</p>
    </div>
    <div class="detail-item">
      <label>Status</label>
      <p>{{device.status}}</p>
    </div>
    <div class="btn-group">
      <button (click)="toggleEdit()">Rediger</button>
    </div>
  </div>

  <form *ngIf="edit" class="detail-group" [formGroup]="deviceForm" (ngSubmit)="submitDeviceForm()">

    <div class="detail-item">
      <label>ID</label>
      <input type="text" placeholder="S/N nummer" class="form-control" formControlName="id" [(ngModel)]="device.id">
      <span class="error-message" *ngIf="!deviceForm.get('id').valid && deviceForm.get('id').touched">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Låner</label>
      <input type="text" placeholder="UNI•Login" class="form-control" formControlName="user" [(ngModel)]="device.user">
      <span class="error-message" *ngIf="!deviceForm.get('user').valid && deviceForm.get('user').touched">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Type</label>
      <select formControlName="type" [(ngModel)]="device.type">
        <option value="Vælg Type" disabled>Vælg Type</option>
        <option value="iPad">iPad</option>
        <option value="Chromebook">Chromebook</option>
        <option value="Bærbar">Bærbar</option>
      </select>
      <span class="error-message" *ngIf="!deviceForm.get('type').valid && deviceForm.get('type').touched">Feltet er påkrævet</span>
    </div>

    <div class="detail-item">
      <label>Status</label>
      <select formControlName="status" [(ngModel)]="device.status">
        <option value="Vælg Status" disabled>Vælg Status</option>
        <option value="I brug">I brug</option>
        <option value="På lager">På lager</option>
        <option value="Til reparation">Til reparation</option>
      </select>
      <span class="error-message" *ngIf="!deviceForm.get('status').valid && deviceForm.get('status').touched">Feltet er påkrævet</span>
    </div>

    <div class="btn-group">
      <button class="default" (click)="defectDevice()" [disabled]="!deviceForm.valid">Fejlmeld</button>
      <button class="important" (click)="deleteDevice()" [disabled]="!deviceForm.valid">Slet</button>
      <div>
        <button class="submit" type="submit" [disabled]="!deviceForm.valid">Gem</button>
        <div class="error-message">
          <!--<span *ngIf="!deviceForm.valid">Venligst Udfyld alle felter</span>-->
          <!--<span *ngIf="!deviceForm.valid && deviceForm.touched">Venligst Udfyld alle felter</span>-->
        </div>
      </div>
    </div>
  </form>

</div>
