@import "/assets/sass/vars.scss";
@import "/assets/sass/typography.scss";
@import "/assets/sass/buttons.scss";
@import "/assets/sass/forms.scss";
@import "/assets/sass/table.scss";
@import "/assets/sass/detail.scss";



/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*:focus {
  outline-color: $c3-active;
}

