@import "../../assets/sass/vars.scss";

.container {
  margin: auto;
  padding: 5px;
  max-width: 700px;
}

h2 {
  text-align: center;
    font-family: $header-font;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 34px;
  }

.addField {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 25%;
}

input {
  width: 50%;
  max-width: 1000px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 70px;
  padding: 5px 5px;
  margin: 3px 0px 8px 0px;
  display: inline-block;
  border: 1px solid lighten(black, 45%);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#createBtn {
  background-color: #4CAF50;
}

#createBtn:active {
  background-color: darken(#4CAF50, 10%)
}

#deleteBtn {
  background-color: #f44336;
}

#deleteBtn:active {
  background-color: darken(#f44336, 10%)
}

#updateBtn {
  background-color: #008CBA;
}

#updateBtn:active {
  background-color: darken(#008CBA, 10%)
}

.tableOutline {
  color: darken($c1, 12.5%);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  background-color: $div-home-color;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {

    th:last-child, td:last-child {
      text-align: right;
    }

    th:last-child {
      padding-right: 65px;
    }

    th {
      padding: 5px;
      text-align: start;
      font-family: monospace;
      font-size: 16px;
    }
    td {
      font-family: monospace;
      font-size: 14px;
      padding: 5px;
      height: 30px;
    }
    &:nth-child(odd) td {
      background-color: darken(#fff, 10%);
    }
    &:hover td {
      background-color: darken(#fff, 25%);
      transition: background-color 0.2s ease-in-out;
    }
  }
}


@media screen and (max-width: 500px) {

  .todoAdd {
    flex-wrap: wrap;
  }

  .addField {
    padding: 0;
  }
  input{
    width: 100%;
  }
  #createBtn {
    width: 100%;
  }

}
