  <app-navbar></app-navbar>

  <div class="container">
    <div class="todoAdd">
        <h2>Huskeliste</h2>
        <div class="addField">
          <input type="text" #item placeholder="Tilføj en opgave" [(ngModel)]="clearInput">
          <button id="createBtn" class="button" (click)="onCreate(item.value)">Tilføj</button>
        </div>
    </div>

    <div class="tableOutline">
        <table>
          <thead>
            <tr>
              <th class="statusBox">Status</th>
              <th class="todoBox">Opgaver</th>
              <th class="btnBox">Muligheder</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todoList">
              <td class="statusBox">
                <input  type="checkbox" [(ngModel)]="todo.done" disabled>
              </td>
              <td class="todoBox">{{todo.item}}</td>
              <td class="btnBox" id="btnBox">
                <button class="button" id="deleteBtn" (click)="onDelete(todo)">Slet</button>
                <button class="button" id="updateBtn" (click)="onUpdate(todo)">Status</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
