@import "../../assets/sass/typography.scss";
@import "../../assets/sass/vars.scss";
.main-container {
  font-family: $main-font;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full-width {
  // margin-top: 5px;
  width: 100%;
}

.top-container {
  width: 80%;
  margin: 15px auto 10px auto;
  display: block;
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
      width: 100%;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
    }
    .checkStatus {
      @media screen and (max-width: 650px) {
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .add-button-container {
      flex-grow: 2;
      button:nth-child(odd) {
        display: block;
      }
      button:nth-child(even) {
        display: none;
      }
      @media screen and (max-width: 650px) {
        flex-grow: 0;
        order: 2;
        button:nth-child(odd) {
          display: none;
        }
        button:nth-child(even) {
          margin-left: 15px;
          display: block;
          color: $txt;
          width: 25px;
          border-radius: 100%;
          padding: 0;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    justify-content: space-around;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.add-button {
  background-color: $c4;
}

table {
  margin: 5px;
}
