<app-navbar></app-navbar>

<div class="main-container">
  <div class="full-width" *ngIf="selectedDevice">
    <app-device-edit [device]="selectedDevice" [edit]="edit" (close)="onClose($event)" (open)="onOpen($event)"></app-device-edit>
  </div>

  <div class="top-container">


    <div class="search-container">
      <div class="add-button-container">
        <button class="add-button" type="button" (click)="onCreateDevice()" (close)="onClose($event)" *ngIf="showAddButton">Tilføj</button>
        <button class="add-button" type="button" (click)="onCreateDevice()" (close)="onClose($event)" *ngIf="showAddButton"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
      <div class="checkStatus">
        <input id="storage" type="checkbox" name="storage" [(ngModel)]="storage"><label for="storage"><span></span>På lager</label>
        <input id="inUse" type="checkbox" name="inUse" [(ngModel)]="inUse"><label for="inUse"><span></span>I brug</label>
        <input id="repair" type="checkbox" name="repair" [(ngModel)]="repair"><label for="repair"><span></span>Til reparation</label>
      </div>
      <div class="searchInput">
        <input class="se" type="text" placeholder="Søg ..." [(ngModel)]="input">
      </div>
    </div>
  </div>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Låner</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of deviceList | devicePipe:input | statusPipe:storage:inUse:repair" (click)="onEditDevice(device)">
        <td>{{ device.id }}</td>
        <td>{{ device.type }}</td>
        <td>{{ device.user }}</td>
        <td>{{ device.status }}</td>
      </tr>
    </tbody>
  </table>

</div>
