@mixin disabled($color) {
  background-color: $color;
  &:disabled {
    color: darken($color, 20%);
    &:hover {
      cursor: default;
    }
  }
  &:hover:not(:disabled) {
    background-color: darken($color, 20%);
  }
}

/* Buttons */
button {
  width: 100px;
  height: 25px;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px $txt solid;
  color: white;
  @include disabled($txt);
  &.CTA {
    @include disabled($c3);
  }
  &.important {
    @include disabled($important);
  }
  &.submit {
    @include disabled(#4CAF50);
  }
}


/* // example

<div style="background-color: #466995; border: 1px black solid;">
  <button>Click me</button>
  <button class="submit">Submit</button>
  <button class="important">Delete</button>
  <button class="CTA">Call to action</button>
</div>

*/
