@import "vars.scss";

/* Detail window */
.detail-container {
  display: flex;
  align-content: row;
  flex-wrap: wrap;
  background-color: $c4;
  border-bottom: 2px black solid;
  border-right: 1px black solid;
  border-left: 1px black solid;

  margin: 0 auto;
  width: 80%;
  @media screen and (max-width: 1001px) {
    width: 100%;
    margin: 0;
  }
  .detail-bar {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $c1;
    label {
      color: white;
      margin-left: 15px;
      margin-right: 5px;
    }
    .auto-spacer {
      flex: 1 1 auto;
    }
    .close-icon {
      color: $txt;
      margin-right: 5px;
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
  .detail-group {
    margin: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .detail-item {
      margin-bottom: 15px;
      width: 50%;
      @media screen and (max-width: 630px) {
        width: 100%;
      }
      label {
        display: block;
        color: white;
      }
    }
  }
  .btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
      margin: 5px;
    }
  }
}

/* // example

<div class="detail-container">
  <div class="detail-bar">
    <label>#</label>
    <p>1</p>
    <label>Category:</label>
    <p>test</p>
  </div>
  <div class="detail-group">
    <div class="detail-item">
      <label>Name</label>
      <input type="text">
    </div>
    <div class="detail-item">
      <label>Name</label>
      <input type="text">
    </div>
    <div class="detail-item">
      <label>Name</label>
      <input type="text">
    </div>
    <div class="detail-item">
      <label>Name</label>
      <input type="textarea">
    </div>
  </div>
  <div class="btn-group">
    <button>Fortryd</button>
    <button class="CTA">Save</button>
  </div>
</div>

*/
