/* Forms */
input[type='textarea'], input[type='text'], input[type='date'] {
 border-radius: 3px;
 width: 200px;
 height: 25px;
 border: 2px $txt solid;
 padding: 2px 5px;
 &.error, &.ng-invalid.ng-touched{
   border: 2px red solid;
 }
}

 select{
 border-radius: 3px;
 width: 213px;
 height: 31px;
 border: 2px $txt solid;
 padding: 2px 5px;
 &:hover {
   cursor: pointer;
 }
 &.error{
   border: 2px red solid;
 }&.ng-invalid.ng-touched{
   border: 2px red solid;
 }
}

input[type='textarea'] {
  height: 100px;
}
input[type=checkbox]:hover:not(:disabled){
  cursor: pointer;
}
input[type=checkbox]:not(old){
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type=checkbox]:not(old) + label{
  display: inline-block;
  margin-left: -2em;
  margin-right: 1em;
  line-height: 1.5em;
}

input[type=checkbox]:not(old) + label > span{
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid rgb(192,192,192);
  border-radius: 0.25em;
  background: rgb(224,224,224);
  background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content: '✓';
  display: block;
  width: 1em;
  color: rgb(153,204,102);
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em rgb(115,153,77);
  font-weight: bold;
}


.error-message {
  margin-top: 10px;
  padding-left: 3px;
  width: 211px;
  color: $FormError;
}

/* // Example

<div style="background-color: #466995; border: 1px black solid;">
   <input type="text" value="test">
   <input type="text" value="fejl" class="error">
   <input type="date">
   <input type="date" class="error">
   <input type="textarea">
   <input type="textarea" class="error">
   <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
   </select>
   <select class="error">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
   </select>
</div>

*/


