@import "vars.scss";

table {
  border-collapse: collapse;
  width: 80%;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  tr {
    font-size: 12px;
    th, td {
      font-family: $main-font;
      font-weight: 500;
    }
    th {
      padding-left: 5px;
      padding-right: 5px;
      text-align: start;
      border-bottom: 2px darken(#fff, 10%) solid;
    }
    td {
      color: darken($txt, 25%);
      border: 0;
      padding: 5px;
      height: 30px;
    }
    &:nth-child(odd) td {
      background-color: $nav;
    }
    &:hover td {
      color: white;
      background-color: $nav-hover;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

/* // Example:

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0123</td>
      <td>Ipad</td>
      <td>apple product</td>
    </tr>
    <tr>
      <td>0123</td>
      <td>Ipad</td>
      <td>apple product</td>
    </tr>
    <tr>
      <td>0123</td>
      <td>Ipad</td>
      <td>apple product</td>
    </tr>
  </tbody>
</table>

*/
