@import "vars.scss";
/* Headers */
h1, h2, h3, h4, h5, h6, p, label {
  font-family: $main-font;
  color: white;
  .black{
    color: white;
  }
}
h1{
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 20px;
}
/* Text */
p {
 color: $txt;
 line-height: $txt-lineheight;
 font-weight: 500;
}

p.quote {
  font-style: italic;
}

p.bold {
  font-weight: bold;
  color: black;
}

label {
 color: $c1;
 font-weight: 500;
}

label.quote {
  font-style: italic;
}

label.bold {
  font-weight: bold;
  color: black;
}


/* // TEST EXAMPLE:

<div style="background-color: #466995; border: 1px black solid;">
  <h1>test</h1>
  <h2>test</h2>
  <h3>test</h3>
  <h4>test</h4>
  <h5>test</h5>
  <h6>test</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque viverra ante non sagittis. Integer sit amet consequat neque. Phasellus pellentesque nulla lorem, ut ultrices odio luctus eget. Fusce cursus libero et faucibus pulvinar. Suspendisse fermentum enim nunc, id tempor tortor vehicula sit amet. Etiam erat mi, efficitur a nulla et, interdum feugiat mi. Maecenas sollicitudin suscipit auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis hendrerit sapien ornare, tincidunt ex id, hendrerit odio. Pellentesque venenatis ultrices eros, ac mollis dolor. Sed in metus tortor.

Morbi auctor orci at lorem accumsan sodales. Morbi et lorem magna. Curabitur quis hendrerit sem, sit amet mattis dui. Morbi commodo hendrerit odio, at porttitor dui consectetur non. Duis vel odio laoreet quam volutpat cursus. Phasellus eget felis magna. Nulla id diam eu metus dapibus bibendum. Vestibulum at leo congue, dignissim ligula id, viverra elit.</p>
  <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque viverra ante non sagittis. Integer sit amet consequat neque. Phasellus pellentesque nulla lorem, ut ultrices odio luctus eget. Fusce cursus libero et faucibus pulvinar. Suspendisse fermentum enim nunc, id tempor tortor vehicula sit amet. Etiam erat mi, efficitur a nulla et, interdum feugiat mi. Maecenas sollicitudin suscipit auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis hendrerit sapien ornare, tincidunt ex id, hendrerit odio. Pellentesque venenatis ultrices eros, ac mollis dolor. Sed in metus tortor.

Morbi auctor orci at lorem accumsan sodales. Morbi et lorem magna. Curabitur quis hendrerit sem, sit amet mattis dui. Morbi commodo hendrerit odio, at porttitor dui consectetur non. Duis vel odio laoreet quam volutpat cursus. Phasellus eget felis magna. Nulla id diam eu metus dapibus bibendum. Vestibulum at leo congue, dignissim ligula id, viverra elit.</p>
  <p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque viverra ante non sagittis. Integer sit amet consequat neque. Phasellus pellentesque nulla lorem, ut ultrices odio luctus eget. Fusce cursus libero et faucibus pulvinar. Suspendisse fermentum enim nunc, id tempor tortor vehicula sit amet. Etiam erat mi, efficitur a nulla et, interdum feugiat mi. Maecenas sollicitudin suscipit auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis hendrerit sapien ornare, tincidunt ex id, hendrerit odio. Pellentesque venenatis ultrices eros, ac mollis dolor. Sed in metus tortor.

Morbi auctor orci at lorem accumsan sodales. Morbi et lorem magna. Curabitur quis hendrerit sem, sit amet mattis dui. Morbi commodo hendrerit odio, at porttitor dui consectetur non. Duis vel odio laoreet quam volutpat cursus. Phasellus eget felis magna. Nulla id diam eu metus dapibus bibendum. Vestibulum at leo congue, dignissim ligula id, viverra elit.</p>

</div>
*/
