@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700');

/* BRAND FONT*/
$header-font: 'Amatic SC', cursive;

/* Fonts*/
$main-font: 'Roboto', sans-serif;
$txt-lineheight: 1.8;

// Main colors
$c1: rgba(72, 105, 106, 1);
$c2: rgba(0, 117, 162, 1);
$c3: rgba(255, 153, 0, 1);
$c4: rgba(70, 105, 149, 1);
$border-color: rgba(0,0,0,0.3);

// Active colors
$c1-active: rgba(47, 71, 71, 1);
$c2-active: rgba(0, 58, 162, 1);
$c3-active: rgba(219, 97, 0, 1);
$c4-active: rgba(25, 65, 115, 1);

// Hover colors
$c1-hover: rgba(72, 105, 106, 0.7);
$c2-hover: rgba(0, 117, 162, 0.7);
$c3-hover: rgba(219, 97, 0, 0.7);
$c4-hover: rgba(70, 105, 149, 0.7);

// Navbar colors
$nav: rgba(173, 216, 230, 1);
$nav-active: rgba(128, 128, 128, 0.5);
$nav-hover: rgba(0, 0, 0, 0.5);

// Text colors
$txt: rgba(155, 155, 155, 1);
$nav-txt: rgba(81, 144, 165, 1);
$nav-txt-active: rgba(81, 144, 165, 1);
$nav-txt-hover: rgba(181, 209, 218, 1);

// Error color
$important: #f44336;

// Bogi Added this one - if removed tell me about it! :)
$FormError: rgba(255, 255, 255, 1);




// May be removed. But is in use
$div-home-color: darken($nav, 20%);

